.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  label {
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: right;
    margin: 10px;
}
input {
  display: inline-block;
}

button {
    display: inline-block;
    clear: left;
    width: 160px;
    height: 40px;
    text-align: center;
    margin: 10px;
    padding: 4px
}


  .crossbutton {
    background: none!important;
    border: none;
    padding: 0!important;
    
    font-family: arial, sans-serif;
   
    color:red;
    cursor: pointer;
  }


.dashboard {
    display: inline-block;
}

.errorText {
color: red;
margin: 4px;
}
.conatinerStyle {
  background-color: lightblue;  
  height: 1000px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 10px;
  border: 1px solid #ddd;
}
.fixed_header{
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
display:block;
width: 100%;
overflow-y: auto;
overflow-x: hidden;
height: 100px;
}

.fixed_header thead tr {
 display: block;
}

.fixed_header thead {
background:#00000075;
color:#fff;
}

.fixed_header th, .fixed_header td {
padding: 5px;
text-align: left;
width: 150px;
}

.tableStyle {
display: flex;
justify-content: center;
}

.close {
  position: absolute;
  right: 95px;
  top: 8px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



